/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

 * {
   margin: 0;
   padding: 0;
   font-family: 'Kosugi Maru', serif; //フォント変更
 }

 .header { //ヘッダー画像
  background-image: image-url("banner-gdff8a5093_1920.jpg");
 }

 .about-image { //aboutの画像
   width: 24%;
   height: 25%;
}

.image-user { //ユーザー画像を丸形にする
 border-radius: 50%;
}

h2 { //タイトルの色
 color: #dc143c;
}

.link { //リンクのデザイン変更
  text-decoration: none;
  list-style: none;
  color: #ff69b4;
}

.pagination { //kaminariのデザイン変更
  justify-content: center;
}

.pagination>li>a { //kaminariのデザイン変更
  border: none;
  color: #ff69b4;
}

.user-index {
 word-break: break-all;
 white-space: nowrap;
}
